<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Testing</h1>
    <section>
      <% puppys.forEach(puppy =>{ %>
      <h2><%= puppy.name %></h2>
      <p><%= puppy.birthYear %></p>
      <p><%= puppy.favoriteFood %></p>
      <p><%= puppy.powers %></p>
      <img src="<%= puppy.img %>" alt="" />
      <% }) %>
    </section>
  </body>
</html>
