<%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>

<body>
  <section>
    <% puppys.forEach(puppy =>{ %>
    <h2><%= puppy.name %></h2>
    <p><%= puppy.birthYear %></p>
    <p><%= puppy.favoriteFood %></p>
    <p><%= puppy.powers %></p>
    <img src="<%= puppy.img %>" alt="" />
    <% }) %>
  </section>
</body>
